.center-align{
    text-align: center;
}

#evnets-edit-field{
    border-collapse: collapse;
    margin: 0;
}
#events-edit-field>div.kbc-event{
    margin-bottom: 10px;
}
#events-edit-field>div.buttons{
    width: 100%;
    text-align: right;
    margin-bottom: 70px;
}
#events-edit-field>div.buttons>.event-delete,
#events-edit-field>div.buttons>.event-edit{
    color: #fff;
    padding: 12px 60px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 20px;
}
#events-edit-field>div.buttons>.event-delete{
    background-color: #c0392b;
}
#events-edit-field>div.buttons>.event-edit{
    background-color: #27ae60;
}
