/*
 * イベント要素
 */
.kbc-event{
    background-color: #ddd;
    padding: 0 0 30px 0;
    margin: 50px 0;
    border-radius: 8px;
    box-shadow: -1px -1px 3px #ccc inset, 1px 1px 3px #ccc inset;
}
.kbc-event h2{
    color: #333;
    padding: 20px 0 0 25px;
    margin: 0;
}
.kbc-event .event-contents{
    padding: 10px 0 15px 20px;
    display: table;
}
.kbc-event .event-inner-contents{
    display: table-cell;
    vertical-align: top;
    text-align: left;
}
.kbc-event img{
    width: 300px;
    display: table-cell;
    border-radius: 6px;
    margin: 0 10px 0 0;
}
.kbc-event .event-inner-contents p{
    padding: 0 20px 5px 20px;
    margin: 0;
}
.kbc-event .event-btn{
    text-align: center;
}
.kbc-event a.btn{
    margin: 15px 0 0 0;
}
.kbc-event table{
    font-size: 11px;
    border-collapse: separate;
    border-spacing: 12px;
    margin: 0 0 10px 10px;
}
.kbc-event td{
    border-bottom: 1px dotted #aaa;
}

#no-event{
    font-size: 14pt;
    text-align: center;
}
