table.kbc-sponsor {
    width: 100%;
    margin: 0;
}
table.kbc-sponsor img {
    max-width: 130px;
    max-height: 90px;
}
table.kbc-sponsor td {
    text-align: center;
    vertical-align: middle;
}
table.kbc-sponsor a>img:hover{
    opacity: 0.7;
}
