.leverage-top{
    margin: 40px 25px;
    padding: 75px 0 0 45px;
    height: 200px;
    border-radius: 9px;
    background-image: url("/img/event/8th/leverage/leverage.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.leverage-top a{
    padding: 15px 15px;
}

.leverage-menu{
    width: 100%;
    text-align: center;
}
.leverage-menu div{
    padding: 0;
    margin: 20px;
    width: 27%;
    display: inline-block;
}
.leverage-menu a:hover{
    opacity: 0.6;
}
.leverage-menu img{
    border-radius: 9px;
    margin-bottom: 10px;
    width: 100%;
}
.leverage-menu p{
    margin: 0;
    font-size: 10pt;
}
