.leverage-top{
    margin: 40px 0;
    padding: 130px 20px 0 20px;
    width: 100%;
    height: 200px;
    border-radius: 7px;
    text-align: center;
    background-image: url("/img/event/8th/leverage/final.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.leverage-top a{
    padding: 15px 30px;
}

.leverage-menu{
    width: 100%;
    text-align: center;
}
.leverage-menu div{
    padding: 0;
    margin: 20px;
    width: 27%;
    display: inline-block;
}
.leverage-menu img{
    border-radius: 9px;
    margin-bottom: 10px;
    width: 100%;
}
.leverage-menu a{
    font-size: 10pt;
}
