.center-align{
    text-align: center;
}

#news-edit-table{
    border-collapse: collapse;
    margin: 0;
}
#news-edit-table .news-edit,
#news-edit-table .news-delete{
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    width: 70px;
}
#news-edit-table .news-delete>.glyphicon,
#news-edit-table .news-edit>.glyphicon{
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
}
#news-edit-table .news-delete>.glyphicon{
    background-color: #c0392b;
}
#news-edit-table .news-edit>.glyphicon{
    background-color: #27ae60;
}
