.leverage-top{
    margin: 40px 25px;
    padding: 75px 0 0 45px;
    height: 200px;
    border-radius: 9px;
    background-image: url("img/summitmousikomi.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.leverage-top a{
    padding: 15px 15px;
}

.leverage-menu{
    width: 100%;
    text-align: center;
}
.leverage-menu div{
    padding: 0;
    margin: 20px;
    width: 27%;
    display: inline-block;
}
.leverage-menu a:hover{
    opacity: 0.6;
}
.leverage-menu img{
    border-radius: 9px;
    margin-bottom: 10px;
    width: 100%;
}
.leverage-menu p{
    margin: 0;
    font-size: 10pt;
}

/*
 * スポンサーテーブル
 */
table.kbc-sponsor{
    width: 100%;
    margin: 0;
}
table.kbc-sponsor img{
    max-width: 130px;
    max-height: 90px;
}
table.kbc-sponsor td{
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}
table.kbc-sponsor a img:hover{
    opacity: 0.7;
}

table.support-program{
    table-layout: fixed;
    width: 100%;
}
table.support-program .title-header{
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

div.xica-thumbnail{
    display: table;
    table-layout: fixed;
}
div.xica-thumbnail>div{
    display: table-cell;
}
#xica-logo{
    text-align: center;
    padding: 20px 40px;
}
img.xica-member{
    width: 90px;
    margin: 10px;
    border-radius: 7px;
}
